<%- include('templates/cabecera', {tituloweb: 'Citas tomadas'}) %>
 
<div class="container ">
  <h1 class=" justify-content-center text-center">Listado de Citas</h1>
  <div class="row">
    <div class="col ">
      Fecha
    </div>
    <div class="col ">
      Hora Inicio
    </div>
    <div class="col text-center">
      Hora Fin
    </div>
    <div class="col text-center">
      Chofer
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
<form action="/editar" method="GET">
<% results.forEach(cita => { %>
  
   
  <% if (cita.fecha.getMonth() < 10) { 
   
   var mes = '0' + (cita.fecha.getMonth() +1) }
   else{
     
      mes = cita.fecha.getMonth()+1;  }%> 
   
   <% if (cita.fecha.getDate() < 10) { 
   
   var dia = '0' + cita.fecha.getDate() } else{
     var dia = cita.fecha.getDate()
   }%>
<div class="row">
  <div class="col text-center ">
    <input type="date" name="fecha" value="<%= cita.fecha.getFullYear()%>-<%=mes%>-<%=dia%>" disabled>
    
  </div>
  <div class="col text-center ">
    <%= cita.viajeInicio %>
  </div>
  <div class="col text-center ">
    <%= cita.viajeFin %>
  </div>
  <div class="col text-center ">
    <!-- inicio seleccion chofer -->
          <select name="conductor" id="conductor" disabled>
            <option value="<%= cita.idchofer %>" ><%= cita.usuarioChofer %></option>
            </select>
            <!-- fin seleccion chofer -->
            
  </div>
  <div class="col bg-secondary ">
    <a href="/editar/<%= cita.idCita%>" class="btn btn-success">Modificar</a>    
  </div>
  <div class="col bg-primary">
    <a href="/eliminar/<%= cita.idCita%>" class="btn btn-danger">Eliminar</a>  
    
  </div>
</div>

<% }) %>
</form>
</div> 


  <%- include('templates/footer') %></div>